In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [5]:
with open('/usr/share/dict/words') as f:
    words = f.read().split('\n')
print(words[:1])

['A']

In [9]:
for letter in words:
    if letter == 'a':

'abbas'

In [12]:
values = dict()
for index, letter in emnumerate(word.ascii_lowercase):
    return values[letter] == index + 1

SyntaxError: 'return' outside function (<ipython-input-12-55ae8e2db601>, line 3)

In [13]:
def value(letter):
    return ord(letter) - ord('a') + 1

In [14]:
value('b')

2

In [15]:
value('chase')

TypeError: ord() expected a character, but string of length 5 found

In [26]:
values_of_words = [] # all the values for words
d = dict(zip(string.ascii_lowercase, range(1, 27)))

with open('/usr/share/dict/words') as f:
   for word in f:
       word = word.strip() # removes \n from the word
       values = [] # we will store letter values for each word
       for letter in word:
          # convert each letter to lowercase
          letter_lower = letter.lower()

          # find the score and add it to values
          values.append(d[letter_lower])

       # For each word, add up the values for each letter
       # and store them in the list
       values_of_words.append(sum(values))

count = 0
for value in values_of_words:
    if value % 137 == 0:
       count += 1

print("Number of words with values that are multiple of 137: {}".format(count))

AttributeError: 'function' object has no attribute 'ascii_lowercase'

In [28]:
with open('/usr/share/dict/words')as f:
    high_score = 0
    for word in f:
        word = word.strip()
    value = 0
    for letter in word:
        value += ord(letter) % 97
    if value % 137 == 0:
        high_score += 1
    print('Number of words with values that are a multiple of 137 {}'.format(high_score))

Number of words with values that are a multiple of 137 0

In [29]:
with open('/usr/share/dict/words') as f:
    words = f.read().split('\n')

In [30]:
pd.Series(words)

0                  A
1                  a
2                 aa
3                aal
4              aalii
             ...
235882        Zythia
235883        zythum
235884       Zyzomys
235885    Zyzzogeton
235886
Length: 235887, dtype: object

In [35]:
df = pd.DataFrame({'word': words})

In [36]:
df.word

0                  A
1                  a
2                 aa
3                aal
4              aalii
             ...
235882        Zythia
235883        zythum
235884       Zyzomys
235885    Zyzzogeton
235886
Name: word, Length: 235887, dtype: object

In [41]:
df['word_length'] = df.word.apply(len)

In [42]:
df

              word  word length  word_length
0                A            1            1
1                a            1            1
2               aa            2            2
3              aal            3            3
4            aalii            5            5
...            ...          ...          ...
235882      Zythia            6            6
235883      zythum            6            6
235884     Zyzomys            7            7
235885  Zyzzogeton           10           10
235886                        0            0

[235887 rows x 3 columns]

In [43]:
five_letter_words = df[df.word_length == 5]

In [44]:
def alpha_value(ch: str) -> int:
    return 'abcdefghijklmnopqrstuvwxyz'.index(ch.lower()) + 1

In [45]:
assert alpha_value('a') == 1

In [46]:
def test_word(word: str) -> bool:
    first_letter, *last_four = word
    return alpha_value(first_letter) == sum([alpha_value(ch) for ch in last_four])

In [54]:
five_letter_words[five_letter_words['word'].apply(test_word)]

         word  word length  word_length
162735  raffe            5            5
172406  Sadie            5            5
181168  sifac            5            5
197206  table            5            5
210149  Uchee            5            5
226709  vakia            5            5
228545  Vicia            5            5
230352  wanga            5            5
231506  whack            5            5
234120  Xicak            5            5
234512  yeara            5            5
235088  zebra            5            5

In [55]:
words[0]

'A'

In [56]:
words('maced')

TypeError: 'list' object is not callable

In [57]:
words['maced']

TypeError: list indices must be integers or slices, not str

In [69]:
df[df.word == 'maced']

Empty DataFrame
Columns: [word, word length, word_length]
Index: []